<template>
  <v-app>
    
    <Header/>

    <v-main>
      <keep-alive include="MainComponent">
        <router-view></router-view>
      </keep-alive>

    </v-main>
  </v-app>
</template>

<script>
import Header from './components/Header.vue'

export default {
  name: 'App',

  components: {
    Header
  },

  data: () => ({
    //
  }),
};
</script>
