<template>
  <v-container>
    
        <!-- Button onclick update Users -->
        <v-row
          class="mt-6 mb-4 text-center"
          no-gutters
        >
            <v-btn block color="accent" @click="getUsers">
              Actualizar Usuarios!
            </v-btn>

        </v-row>

        <p class="error" v-if="error">{{ error }}</p>

        <!-- DataTable with Users -->
        <v-data-table
          :headers="headers"
          :items="usersTable"
          :items-per-page="5"
          item-key="name"
          class="elevation-3"
          :search="search"
          
          @click:row="handleClick"
        >
          <template v-slot:top>
            <v-text-field
              v-model="search"
              label="Filtrar cualquier valor"
              class="mx-4"
            ></v-text-field>
          </template>
        
        </v-data-table>

        <!-- Filters -->

    
  </v-container>
</template>

<script>
  //import axios from 'axios'
  import { mapGetters } from 'vuex'
  //import UserServices from '../UserServices'

  export default {
    name: 'MainComponent',
    data: () => ({

        search: '',
        headers: [
          {
            text: 'Género',
            align: 'start',
            sortable: false,
            value: 'gender',
          },
          { text: 'Nombre', value: 'name' },
          { text: 'Email', value: 'email' },
          { text: 'Nacionalidad', value: 'location' },
          { text: 'Fecha de Nacimiento', value: 'dob' },
          { text: 'Fecha de registro', value: 'registered' },
        ]
    }),

    created(){
       this.$store.dispatch('loadUsers')
    },
    methods: {
      getUsers(){
        this.$store.dispatch('loadUsers')
      },
      handleClick (row) {
        console.log(row)
        this.usersTable.map((item, index) => {
            if (item === row) {
                // console.log(index)
                this.$store.dispatch('selectedUser', {index})
                this.$router.push('/user')

            }
        })
      },
      

    },
    computed: {
      ...mapGetters([
          'usersTable'
      ]),
      error(){
        return this.$store.state.error
      },
 
      
    }
  }
</script>
