<template>
  <v-container>
    
        <!-- Button onclick go to Users -->
        <v-row
          class="mt-6 mb-4 text-center"
          no-gutters
        >
            <v-btn block color="primary" @click="goBack">
              Volver a la lista de ususarios
            </v-btn>

        </v-row>
        <p class="error" v-if="texto">{{ texto }}</p>


        <!-- Table User -->
        <v-container class="grey lighten-5">
            <v-row
                class="mt-3"
                no-gutters
            >
                <v-col :cols="undefined">
                    <v-card
                    outlined
                    class="d-flex justify-center align-center"
                    style="height: 200px; max-width: 100%;"
                    tile
                    >
                        <v-img
                            alt="User Photo"
                            class="shrink mr-2"
                            contain
                            :src="userProfile.picture"
                            transition="scale-transition"
                            width="150"
                        />
                    </v-card>
                </v-col>
                <v-col :cols="6" >
                    <v-card
                    class="d-flex justify-center align-center"
                    outlined
                    style="height: 200px; max-width: 100%;"
                    tile
                    >
                       Mapa usando OpenStreetMap
                    </v-card>
                </v-col>
                <v-col :cols="undefined">
                    <v-card
                    class="d-flex justify-center align-center"
                    outlined
                    style="height: 200px; max-width: 100%;"
                    tile
                    >
                        Boton favoritos
                    </v-card>
                </v-col>
            </v-row>

            <v-row
                no-gutters
            >
                <v-col :cols="6">
                    <v-card
                    class="pa-2"
                    outlined
                    tile
                    >
                        {{ userProfile.name }}
                    </v-card>
                </v-col>
                <v-col :cols="6" >
                    <v-card
                    class="pa-2"
                    outlined
                    tile
                    >
                        {{ userProfile.email }}
                    </v-card>
                </v-col>

            </v-row>


            <v-row
                class="mb-3"
                no-gutters
            >
                <v-col :cols="undefined">
                    <v-card
                    class="pa-2"
                    outlined
                    tile
                    >
                        {{ userProfile.location.city }}
                    </v-card>
                </v-col>
                <v-col :cols="6" >
                    <v-card
                    class="pa-2"
                    outlined
                    tile
                    >
                        {{ userProfile.location.street.name }}
                    </v-card>
                </v-col>
                <v-col :cols="undefined">
                    <v-card
                    class="pa-2"
                    outlined
                    tile
                    >
                        {{ userProfile.phone }}
                    </v-card>
                </v-col>
            </v-row>
        </v-container>

        
  </v-container>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'UserComponent',

    data: () => ({
        texto: "",
    }),

    created(){
        
    },
    methods: {
        goBack(){
            this.$router.push('/')
        }

    },
    computed: {
        ...mapGetters([
          'userProfile'
        ]),
      
    }
  }
</script>
